@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quattrocento:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
}

body {
  font-family: "Quattrocento", serif;
}

a.nav-link, a.nav-btn {
  font-family: "DM Serif Display", serif;
  font-size: 1.4em;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #696969;
}

a:hover {
  color: #000;
}